<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>目录内容</title>
    <style>
        ul li {
            list-style: none;
            margin-bottom: 12px;
        }
        ul li span{
            margin-right: 6px;
        }
    </style>
</head>
<body>
    <ul>
        <% arr.forEach((item, index) => { %>
            <li><span><%= index + 1 %>、</span><a href="<%=item.href%>"><%= item.content %></a></li>
        <%}) %>
    </ul>
</body>
</html>